backend/src/infraestructure/soap/tracking.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:tns="http://example.com/tracking"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             name="TrackingService"
             targetNamespace="http://routemanager.local/tracking">

  <types>
    <xsd:schema targetNamespace="http://routemanager.local/tracking">
      <xsd:element name="TrackRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="routeId" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="TrackResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="routeId" type="xsd:string"/>
            <xsd:element name="lastLocation" type="xsd:string"/>
            <xsd:element name="progressPercent" type="xsd:number"/>
            <xsd:element name="etaMinutes" type="xsd:number"/>
            <xsd:element name="timestamp" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>

  <message name="TrackRequest">
    <part name="parameters" element="tns:TrackRequest"/>
  </message>
  <message name="TrackResponse">
    <part name="parameters" element="tns:TrackResponse"/>
  </message>

  <portType name="TrackingPortType">
    <operation name="Track">
      <input message="tns:TrackRequest"/>
      <output message="tns:TrackResponse"/>
    </operation>
  </portType>

  <binding name="TrackingServiceSoapBinding" type="tns:TrackingPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="Track">
      <soap:operation soapAction="http://example.com/tracking/Track"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>

  <service name="TrackingService">
    <port name="TrackingPort" binding="tns:TrackingServiceSoapBinding">
      <soap:address location="http://localhost:8081/tracking"/>
    </port>
  </service>
</definitions>